@media (max-width: 1024px) {
    header {
        padding: 26px 50px;
    }

    nav>ul {
        display: none;
    }

    .fa-bars {
        display: flex;
    }

    .section2 {
        padding: 100px 0;
    }

    .section2Content {
        width: 80%;
    }

    .section3 {
        padding: 50px 0;
    }

    .section1Content {
        width: 60%;
    }

    .section4 {
        padding: 100px 0;
    }

    .section4Content {
        width: 93%;
    }

    .frame {
        max-width: 30px;
        max-height: 30px;
    }

    .price {
        width: 10%;
        height: 20px;
        font-size: 10px;
    }

    .section5 {
        padding: 100px 0;
    }


    .section6 {
        padding: 70px 0;
    }

    .question {
        margin-top: 50px;
    }

    .footerContent {
        gap: 100px;
        justify-content: center;
    }

    /* second page */

    .sect1 {
        padding: 100px 0;
    }

    .sect1Content {
        width: 50%;
    }

    .sect2 {
        padding: 80px 0;
    }

    .artworkCards {
        row-gap: 50px;
    }

    .artworkCard {
        width: 40%;
    }

    .productName {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .thePrice {
        font-size: 20px;
    }

    .pagination {
        margin-top: 70px;
    }
    
    .arrow,
    .number,
    .ellipsis {
        width: 40px;
        height: 40px;
    }

    /* third page */

    .contactSect1 {
        display: flex;
        justify-content: center;
        padding: 100px 0 100px 0;
    }

    .contactSect1>form {
        width: 50%;
    }

    .contactSect2Content {
        width: 80%;
    }

    .contactInfoAndMap {
        gap: 100px;
    }

}