body {
    font-family: 'Inter';
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

header {
    max-width: inherit;
    width: inherit;
    padding: 26px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
}

.fa-bars {
    color: white;
    display: none;
    cursor: pointer;
}



nav>ul {
    display: flex;
    gap: 60px;
}

nav>ul>li>a {
    font-weight: 400;
    font-size: 1.08rem;
    color: white;
    display: block;
    transition-property: all;
    transition-duration: 0.8s;
}

li>a.active {
    color: #D5906E;
}

li>a:hover {
    color: #D5906E;
    transform: scale(1.5);
}

.earthlyArtisry {
    font-family: Arial, sans-serif;
    font-size: 2.16rem;
    font-weight: bold;
    transition: all 0.5s linear;
}

.earthlyArtisry:hover {
    text-shadow: 1px 1px 2px white, 0 0 1em #D5906E;
    transform: scale(1.2) skewX(-25deg);
}

.earthly {
    color: white;
}

.artistry {
    color: #D5906E;
}

.signInDiv {
    display: flex;
    align-items: center;
    gap: 16px;
}

.signIn {
    color: white;
    font-weight: 400;
    font-size: 0.96rem;
    cursor: pointer;
    transition: all 0.1s linear;
}

.signIn:hover {
    text-decoration: underline;
    font-size: 1.08rem;
}

.fa-cart-shopping {
    color: white;
    cursor: pointer;
    transition: all 0.1s linear;
}

.fa-cart-shopping:hover {
    color: #D5906E;
    transform: scale(1.1);
}

/* section1 */

.section1 {
    width: 100%;
    padding: 283px 0 188px 0;
    display: flex;
    justify-content: center;
    background-image: url(../Images/Rectangle\ 106.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section1Content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(50%) translateY(-50%);
    animation: appear 1s forwards cubic-bezier(.36, .45, .63, .56);
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
    }

    50% {
        opacity: 0.5;
        transform: translateX(0) translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

.section1Title {
    font-weight: 700;
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

.section1Text {
    font-weight: 400;
    font-size: 0.96rem;
    color: white;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 72px;
    line-height: 19px;
}


.shopNow {
    width: 42%;
    font-size: 0.96rem;
    color: white;
    background-color: transparent;
    padding: 19px 0;
    justify-content: center;
    border: 2px solid #D5906E;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s linear;
}

.shopNow:hover {
    transform: skewX(-30deg) scale(1.1);
}

/* section2 */

.section2 {
    width: 100%;
    padding: 160px 0;
    display: flex;
    justify-content: center;
}

.section2Content {
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.section2Content>div {
    width: 20.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.section2Content>div>img {
    width: 100%;
}

.sect2Text {
    text-align: center;
    font-weight: 400;
    font-size: 1.08rem;
    color: #B53B1B;
}

/* section3 */

.section3 {
    width: 100%;
    padding: 96px 0;
    background-color: #402101;
}

.section3Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.ourGallery {
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
}

.grid {
    width: 62%;

    /* display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 322px 260px;
    grid-template-areas: "rect85 rect85 rect93"
        "rect91 rect92 rect90"; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
}

.rect85 {
    width: 57%;
    grid-area: rect85;
}

.rect90 {
    width: 36%;
    grid-area: rect90;
}

.rect91 {
    width: 26%;
    grid-area: rect91;
}

.rect92 {
    width: 26%;
    grid-area: rect92;
}

.rect93 {
    width: 36%;
    grid-area: rect93;
}

/* section4 */

.section4 {
    width: 100%;
    padding: 160px 0;
    display: flex;
    justify-content: center;
}

.section4Content {
    width: 81%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.latestProducts {
    font-weight: 700;
    font-size: 40px;
    color: #402101;
    text-align: center;
}

.productsAndArrows {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productCards {
    width: 91.38%;
    display: flex;
    justify-content: space-between;
}

.productCard {
    max-width: 315px;
    width: 21.8%;
    position: relative;
}

.productCard>img {
    width: 100%;
}

.price {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 16px;
    padding: 17px;
    font-size: 0.96rem;
    color: #B53B1B;
    background-color: white;
    border-radius: 20px;
}


.frame {
    max-width: 44px;
    max-height: 44px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.frame:hover {
    transform: scale(1.3);
}

#viewMore {
    max-width: 144px;
    max-height: 48px;
    display: none;
    padding: 15px 32px;
    background-color: #B53B1B;
    border: none;
    border-radius: 10px;
}

/* section5 */

.section5 {
    width: 100%;
    background-image: url(../Images/Rectangle\ 98.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 160px 0;
    display: flex;
    justify-content: center;
}

.section5Content {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.newsLetter {
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
}

.emailNSubscribe {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
}

#email {
    font-weight: 400;
    font-size: 0.96rem;
    color: white;
    padding: 17px 110px 17px 17px;
    background-color: transparent;
    border: none;
}

#email::placeholder {
    color: #FFFFFF;
}

#subscribe {
    font-weight: 400;
    font-size: 1.08rem;
    color: #402101;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 17px;
    border: none;
    cursor: pointer;
}

/* section6 */

.section6 {
    width: 100%;
    padding: 160px 0;
    display: flex;
    justify-content: center;
}

.section6Content {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.threeGroups {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.group {
    width: 26.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    background: rgba(213, 144, 110, 0.3);
    border-radius: 8px;
}

.section6Title {
    font-weight: 700;
    font-size: 2.16rem;
}


.groupTitle {
    font-weight: 400;
    font-size: 1.44rem;
    line-height: 29px;
    color: #B53B1B;
}

.groupText {
    font-weight: 400;
    font-size: 0.96rem;
    line-height: 19px;
    color: #402101;
}

.question {
    font-weight: 700;
    font-size: 1.44rem;
    color: #402101;
    margin-top: 112px;
    margin-bottom: 20px;
}

.helpCenter {
    font-weight: 400;
    font-size: 1.44rem;
    padding: 14px 52px;
    color: white;
    background-color: #B53B1B;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.helpCenter:hover {
    transform: scale(1.1);
    color: silver;
}

/* footer */

footer {
    background: #402101;
    display: flex;
    justify-content: center;
    padding: 32px 0 57px 0;
}

.footerContent {
    width: 63%;
    display: flex;
    justify-content: space-between;
}

.firstColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.help {
    font-size: 1.08rem;
    font: bold;
}

footer>div>div>h4 {
    font-weight: 300;
    font-size: 0.96rem;
    color: white
}

.icons {
    display: flex;
    gap: 23px;
    margin-top: 27px;
}

.icons>a>img:hover {
    animation: forIcons 0.2s linear forwards;
}

@keyframes forIcons {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(360deg) scale(2);
    }

}

.secondColumn {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.secondColumn>div>p {
    display: flex;
    align-items: center;
    gap: 16px;
    font-style: normal;
    font-weight: 300;
    font-size: 0.96rem;
    line-height: 19px;
    color: #FFFFFF;
}

.secondColumn>div>p>a:hover {
    color: #D5906E;
}

#earthlyArtisry {
    max-height: 44px;
}

.fa-phone,
.fa-envelope,
.fa-location-dot {
    color: #FFFFFF;
    transition: all 0.2s linear;
}


.fa-envelope:hover {
    color: lightblue;
    transform: scale(1.5);
}

.fa-phone:hover {
    color: lightskyblue;
    transform: scale(1.5);
}

.fa-location-dot:hover {
    color: red;
    transform: scale(1.5);
}

/* Artworks page */

/* section1artworks */

.sect1 {
    width: 100%;
    padding: 240px 0 144px 0;
    background-image: url(../Images/depositphotos_116744566-stock-photo-abstract-brown-texture-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.sect1Content {
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    opacity: 0;
    animation: appear 1s forwards cubic-bezier(.36, .45, .63, .56);
}

/* sect2 */

.sect2 {
    width: 100%;
    padding: 160px 0;
    display: flex;
    justify-content: center;
}

.sect2Contentt {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstRow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 65px;
}

.firstDivv {
    display: flex;
    align-items: center;
    gap: 18px;
}

.shopByCategory {
    font-weight: 400;
    font-size: 1.08rem;
    color: #402101;
}

.secondDivv {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #402101;
}

.secondDivv>input {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 19px 271px 18px 16px;
    background-color: transparent;
    border: none;
}

.secondDivv>input::placeholder {
    color: rgba(64, 33, 1, 0.52);
}


.secondDivv>button {
    width: 37%;
    font-weight: 400;
    font-size: 1.08rem;
    color: #FFFFFF;
    background-color: #402101;
    border-radius: 0px 10px 10px 0px;
    padding: 17px 89px;
    border: none;
    cursor: pointer;
}

.secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
    margin-bottom: 94px;
}

.secondRow>div {
    display: flex;
    align-items: center;
    gap: 40px;
    border: 2px solid #B53B1B;
    border-radius: 5px;
}

.allCategories {
    font-weight: 400;
    font-size: 2.4rem;
    color: #402101;
}

.sortButton {
    font-weight: 400;
    font-size: 1.44rem;
}

.artworkCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 80px;
}

.artworkCard {
    width: 22%;
    display: flex;
    flex-direction: column;
}

.artworkCard>img {
    transition: all 0.2s linear;
    cursor: pointer;
}

.artworkCard>img:hover {
    transform: scale(1.2);
    box-shadow: 15px 15px 15px darkgray;
}

.productName {
    margin-top: 24px;
    margin-bottom: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.96rem;
    color: #B53B1B;
}

.priceAndLogo {
    display: flex;
    justify-content: space-between;
}

.priceAndLogo>img {
    max-width: 24px;
    max-height: 24px;
}

.thePrice {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.44rem;
    color: #402101;
}

.pagination {
    display: flex;
    margin-top: 120px;
}

.arrow,
.number,
.ellipsis {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #B53B1B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.08rem;
    color: #402101;
    transition: all 0.2s linear;
}

.arrow:hover,
.number:hover,
.ellipsis:hover {
    background-color: #B53B1B;
    border-color: white;
    color: white;
    transform: scale(1.1);
}



/* contact page */

.contactSect1 {
    width: 100%;
    background-image: url(../Images/Rectangle\ 108.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 208px 0 112px 240px;
}

.contactSect1>form {
    width: 30%;
    padding: 24px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(64, 33, 1, 0.73);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
}

.formContent {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.nameAndEmail {
    display: flex;
    justify-content: space-between;
}

.nameAndEmail>input {
    width: 47.5%;
    padding: 11px 0 12px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.84rem;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

.nameAndEmail>input::placeholder {
    color: white;
}

.getInTouch {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    color: #FFFFFF;
}

#message {
    padding: 8px 0 71px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.84rem;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

#message::placeholder {
    color: white;
}

#submit {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0 19px 0;
    background: #D5906E;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.96rem;
    color: #FFFFFF;
    border: none;
    transition: all 0.1s linear;
    cursor: pointer;
}

#submit:hover {
    transform: scale(1.05);
}

/* section2 */

.contactSect2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 0;
}

.contactSect2Content {
    width: 62%;
    background: rgba(213, 144, 110, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    color: #402101;
}

.contactInfoAndMap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contactInfo>div>p {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 0.96rem;
    color: #623932;
}

.contactInfo>div>p>span>a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.08rem;
    line-height: 22px;
    color: #B53B1B;
}

iframe {
    width: 69%;
    height: 320px;
}